:host {
  display: block;
  height: 300px;
  max-height: 80vh;
  
  img {
    width: 100vw;
    height: 300px;
    max-height: 80vh;
    object-fit: cover;
  }

  @include tablet {
    height: 500px;

    img {
      height: 500px;
    }
  }

  @include desktop {
    height: 700px;

    img {
      height: 700px;
    }
  }
}
